 /* 
    1.posicionamiento
    2.Box model
    3.Tipografia
    4.Temas visuales (shadow box etc)
    5. Others (miscellaneous)

*/

:root {

    /*  Colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

*{
    box-sizing:border-box;
    margin:0;
    padding: 0;
}

Html {
    /* typography */
        font-size: 62.5%;
        Font-family: ‘Dm Sans’, sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}    

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white)
}

.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button{
    position: absolute;
    display: inline-block;
    width: 100%;
    left: calc(50% - 120px);
    top:275px;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(73, 30, 0.16);
    border: none;
    border-radius: 6px;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    justify-self: center;
}

.header--buton span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./Pic/icons/down-arrow.svg');
}

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    margin: 15px auto;
    padding:15px;
    text-align: center;
    justify-content: center;
    background-color:var(--off-white);
}

.main-exchange-container--title p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.main-exchange-container--title h2{
    font-size: 2.4rem;
    margin-top: 30px;
}

.main-currency-table{
    display: grid;
    grid-template-areas: 
    "a b"
    "a b"
    "a b"
    "a b";
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    width: 80%;
    min-width: 235px;
    max-width: 500px;
    background-color: var(--just-white);
    border-radius: 15px;
}

.main-currency-table p{
    height: 39px;
    margin: auto;
    width: 50%;
    font-weight: 500;
    font-size: 1.6rem;
    color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.main-currency-container .currency-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight:bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.header--buton span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./Pic/icons/down-arrow.svg');
}

.main-currency-table .span1 span {
    display:inline-block;
    width: 12px;
    height: 13px;
    background-image: url('Pic/icons/trending-down.svg');
    margin-left: 5px;
    
}

.main-currency-table .span2 span{
    display: inline-block;
    width: 12px;
    height: 13px;
    background-image: url(./Pic/icons/trending-up.svg);
    margin-left: 5px
}

.main-currency-table .span3 span{

    display:inline-block;
    width: 12px;
    height: 13px;
    background-image: url(./Pic/icons/trending-down.svg);
    margin-left: 5px
}

.main-currency-table .span4 span{

    display:inline-block;
    width: 12px;
    height: 13px;
    background-image: url(./Pic/icons/trending-down.svg);
    margin-left: 5px
}

.currency-table--date{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px ;
}

.currency-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black)
}

.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--black);
}

.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url(./Pic/icons/batata.svg);
    top: -10px;
    left: calc(50% - 20px);
}

.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card{
    width: 90%;
    min-width:288px;
    max-width:  400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba (0, 0, 0.16);
}

.product-detail--card .clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./Pic/icons/clock.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product--card--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight:bold;
    line-height: 1.2rem;
    color: var(--just-white);
    color: white;
}

.product--card-body{
    font-size: 1.4rem;
    font-weight: 500px;
    line-height: 1.8rem;
    color: white;
}

.bitcoin-img-container{
    width:100%;
    min-width: 320px;
    min-height:450px;
    max-height: 600px;
    background-image: url('./Pic/img/bitcoinbaby2x.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.bitcoin-img-container h2{
    padding-top:60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}

.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom:50px;
}

.plans--title h2{
    padding-top: 50px;
    font-size:2.4rem;
    font-weight:bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans--title p{
    padding-top:30px;
    font-size:1.4rem;
    font-weight:500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--slider{
    display:flex;
    height: 316px;
    overflow: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 20px;
}

section .plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 200px;
    max-width: 300px;
    height: 250px;
    margin: 50px 10px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recommended{
    position:absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    padding: 6px;
    background-color: var(--bitcoin-orange);
    border-radius:8px;
    color: var(--just-white);
    font-weight: bolder;
}

.plan-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 50px;
    line-height: 1.8rem;
    color: black;
}

.plan-card--price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
    color:black;
}

.plan-card--price span {
    font-size:1.2rem;
    font-weight: 300px;
    vertical-align: 20px;  
}

.plan-card--saving {
    font-size:1.2rem;
    color:#757575;
}

.plan-card-ca{
    width:150px;
    height:48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-card--ca span{
    display:inline-block;
    width: 20px;
    height:20px;
    background-image: url("./Pic/icons/orange-right-arrow.svg");
    vertical-align: text-bottom;
}

footer {
    display: flex;
    width:100%;
    min-width: 320px;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section {
    display:flex;
    width:50%;
    justify-content: center;
    align-items: center;
}


footer ul {
    font-size:1.4rem;
    font-weight: 500;
    list-style: none;
}

footer li{
    margin: 10px 0;
    color: white;
    font-weight: 500;
    font-weight: bold;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
}
